.Image {
  background-repeat: no-repeat;
  background-size: cover;
  width: 20%;
  height: 30pc;
  position: relative;
  border-radius: 1pc;
}
.Image::before {
  content: var(--content);
  position: absolute;
  bottom: 150px;
  left: 0;
  color: white;
  font-weight: bold;
  z-index: 10;
  text-align: center;
  font-size: 20px;
}

.Image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
